@model FPTBookWeb.Models.Author

@{
    ViewData["Title"] = "Edit Author";
}

<h1>Edit information about author <strong class="fst-italic">@Html.DisplayFor(model => model.AuthorName)</strong></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuthorId" />
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control input-data" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorEmail" class="control-label"></label>
                <input asp-for="AuthorEmail" class="form-control input-data" />
                <span asp-validation-for="AuthorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorPhoto" class="control-label"></label>
                <input asp-for="AuthorPhoto" class="form-control input-data" />
                <span asp-validation-for="AuthorPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control input-data" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group d-flex flex-row">
                <a asp-action="Index" class="btn btn-back text-center"><i class="fa-solid fa-arrow-left"></i> Back</a>
                <input type="submit" value="Save" class="btn btn-save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
