﻿@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All roles";
}

<h1>All roles</h1>

<div class="col-2">
    <a class="btn-outline btn btn-create mb-2" asp-action="AddRole"><i class="fa-solid fa-users"></i> Add role</a>
</div>

@if (Model.Any())
{
    <table class="table table-hover table-responsive table-sm col-3 my-5 shadow p-3 mb-5 rounded">
        <thead class="table-manage col-6">
            <tr>
                <td class="text-center ">
                    <h3>Role</h3>
                </td>
                <td class="col-2 text-center">
                    <h3>Edit</h3>
                </td>
                <td class="col-2 text-center">
                    <h3>Delete</h3>
                </td>
            </tr>
        </thead>
        @foreach (var role in Model)
        {
            <tbody class="text-center">
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-outline col-2 btn-edit btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                    </td>
                    <td>
                        <a asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-outline col-2 btn-delete btn-sm"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}
else
{
    <h5>No roles yet, use the button above to add your first role.</h5>
}
