@model FPTBookWeb.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Book</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookId" />
            <div class="col-12 d-flex flex-row">
                <div class="form-group col-8 me-2">
                    <label asp-for="BookTitle" class="control-label "></label>
                    <input asp-for="BookTitle" class="form-control input-data" />
                    <span asp-validation-for="BookTitle" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="BookPrice" class="control-label"></label>
                    <input asp-for="BookPrice" class="form-control input-data" />
                    <span asp-validation-for="BookPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-12 me-3">
                <label asp-for="BookDescription" class="control-label"></label>
                <input asp-for="BookDescription" class="form-control input-data" />
                <span asp-validation-for="BookDescription" class="text-danger"></span>
            </div>
            <div class="col-12 d-flex flex-row">
                @* chua biet lam commend trc *@
                <div class="form-group col-4 me-2">
                    <label asp-for="BookImage1" class="control-label"></label>
                    <input class="form-control input-data" type="file" asp-for="BookImage1" name="file"/>
                    <span asp-validation-for="BookImage1" class="text-danger"></span>
                </div>
                @* <div class="form-group col-4 me-2">
                    <label asp-for="BookImage2" class="control-label"></label>
                    <input asp-for="BookImage2" class="form-control input-data" />
                    <span asp-validation-for="BookImage2" class="text-danger"></span>
                </div>
                <div class="form-group col-4">
                    <label asp-for="BookImage3" class="control-label"></label>
                    <input asp-for="BookImage3" class="form-control input-data" />
                    <span asp-validation-for="BookImage3" class="text-danger"></span>
                </div> *@
            </div>
            <div class="col-12 d-flex flex-row">
                <div class="form-group col-1 me-2">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control input-data" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group col-1 me-2">
                    <label class="control-label">Pages</label>
                    <input asp-for="BookPages" class="form-control input-data" />
                    <span asp-validation-for="BookPages" class="text-danger"></span>
                </div>
                <div class="form-group col-2 me-2">
                    <label class="control-label">Published</label>
                    <input asp-for="PublishedYear" class="form-control input-data" />
                    <span asp-validation-for="PublishedYear" class="text-danger"></span>
                </div>
                <div class="form-group col-2 me-2">
                    <label asp-for="PublisherId" class="control-label"></label>
                    <select asp-for="PublisherId" class="form-control input-data" asp-items="ViewBag.PublisherId"></select>
                    <span asp-validation-for="PublisherId" class="text-danger"></span>
                </div>
                <div class="form-group col-3 me-2">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control input-data" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="AuthorId" class="control-label"></label>
                    <select asp-for="AuthorId" class="form-control input-data" asp-items="ViewBag.AuthorId"></select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
            </div>
            @* <div class="form-group col-4">
                <label class="control-label">Store Owner</label>
                <select asp-for="UserId" class="form-control input-data" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div> *@
            <div class="col-4 d-flex flex-row">
                <a asp-action="Index" class="btn btn-back text-center"><i class="fa-solid fa-arrow-left"></i> Back</a>
                <div class="form-group col-6">
                    <input type="submit" value="Save" class="btn btn-save" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
