@model FPTBookWeb.Models.Publisher

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit <strong class="fst-italic">@Html.DisplayFor(model => model.PublisherName)</strong></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PublisherId" />
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label"></label>
                <input asp-for="PublisherName" class="form-control input-data" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherEmail" class="control-label"></label>
                <input asp-for="PublisherEmail" class="form-control input-data" />
                <span asp-validation-for="PublisherEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherPhone" class="control-label"></label>
                <input asp-for="PublisherPhone" class="form-control input-data" />
                <span asp-validation-for="PublisherPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherAddress" class="control-label"></label>
                <input asp-for="PublisherAddress" class="form-control input-data" />
                <span asp-validation-for="PublisherAddress" class="text-danger"></span>
            </div>
            <div class="form-group d-flex flex-row">
                <a asp-action="Index" class="btn btn-back text-center"><i class="fa-solid fa-arrow-left"></i> Back</a>
                <input type="submit" value="Save" class="btn btn-save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
